.nav{
    position:fixed;
    width:100%;
}
.text{
    margin-left: 200px;
}
 nav a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding:5px;
    
}
nav a:hover{
    background-color: #ffc8c8;
    border-radius:10px;
    height: 80%;
}
.logo{
    display: inline-block;
    margin-right: 150px;
    color:rgb(255, 255, 255);
}

.links{
    padding: 10px;
    border-radius: 10px;
}
.navbar-toggler{
    border: 2px solid white!important;
}
.nav-link:hover{
    background-color:#016964;
  }

  .navbar-toggler{
      background-color:#014210;
  }

  .navbar{
    background-image: linear-gradient(to right, rgb(29, 45, 59) ,rgb(252, 220, 43));
  }
  .nav-link{
      cursor: pointer;
  }



